body {
    width: 95vw;
    margin: auto;  /* Center horizontally on the page */
}

main {
    display: flex;
}

.column {
    margin: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 10px 0;
}

section {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid black;
}

ul { /* Recipe list, Menu, Shopping list */
    margin: 0;
    padding-left: 0; /* Remove the indentation for each item by default */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    margin: 0;
    list-style-type: none; /* Remove the bullet points */
}

/* Recipe list */
#recipe-list li {
    margin: 5px;
}

/* Menu list */
#menu-list li {  /* Menu item */
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#menu-list p {  /* Menu item text */
    margin-right: 5px;
}

#menu-list button {
    margin-left: 5px;
}

/* Selected viewer ingredients and shopping list */
.ingredient-count li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.ingredient-count p {  /* Ingredient name */
    margin: 0;
    margin-right: 5px;
    vertical-align: center;
}

.ingredient-count span {  /* Number of recipes */
    margin: 0;
    margin-left: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
}